.project__list {
    @include list;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project__item {
    flex-basis: calc((100% - 60px) / 3);
    &:hover {
            box-shadow: $box-shadow-project;
        }
}

.project-card__image {
    display: block;
}